@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Permanent+Marker&display=swap');

body {
    background-image: url("./assets/Aardrijkskunde.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#countryContainer {
    border: 1px solid rgb(10, 0, 0);
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    background-color: rgba(0,0,0,0.7);
}

#buttonBar {
    display: flex;
    justify-content: center;
}

#worldMap {
    width: 100%;
}

#worldMapContainer {
    padding: 10px 100px;
    background: transparent;
}

.countryName {
    font-family: Asap;
    font-size: small;
    text-transform: uppercase;
    color: antiquewhite;
}

.countryFlag {
    width: 13px;
    height: 10px;
    margin-right: 10px;
}

#infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgb(10, 0, 0);
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.itemContainer {
    display: flex;
    align-items: center;
    margin: 5px;
}

#linkButton {
    padding: 10px;
    color: antiquewhite;
    border: 1px solid rgb(10, 0, 0);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.7);
    width: fit-content;
    font-family: 'Asap', sans-serif;
    font-size: smaller;
    text-decoration: antiquewhite;
    text-transform: uppercase;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    color: antiquewhite;
}

#centerInfo {
    display: flex;
    justify-content: center;
}

#flagImage {
    max-height: 50px;
    margin-right: 50px;
}

#countryHeader {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(0, 0, 0);
    font-size: xxx-large;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite;
}

p {
    font-family: 'Asap', sans-serif;
    color: antiquewhite;
}

#searchButton {
    color: antiquewhite;
    background-color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    border: 1px solid rgb(10,0,0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

#popPageButton {
    color: antiquewhite;
    background-color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    border: 1px solid rgb(10,0,0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

#searchBar {
    color: antiquewhite;
    font-family: 'Asap', sans-serif;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid rgb(10,0,0);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-style: none;
}

#headerContainer {
    display: flex;
    justify-content: center;
}

#errorContainer {
    display: flex;
    justify-content: center;
}

#europe {
    color: #FFD435;
}

#northAmerica {
    color: #4C824B;
}

#southAmerica {
    color: #6AC487;
}

#asia {
    color: #D14E5B;
}

#africa {
    color: #5575C2;
}

#oceania {
    color: #A653BA;
}

#noRegion {
    color: antiquewhite;
}

#europe:hover, #southAmerica:hover, #northAmerica:hover, #asia:hover, #africa:hover, #oceania:hover {
    color: antiquewhite;
}