@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Permanent+Marker&display=swap');

body {
    background-image: url("./assets/Aardrijkskunde.jpg");
}

#countryContainer {
    border: 1px solid;
    border-color: rgb(10,0,0);
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    background-color: rgba(0,0,0,0.7);
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    color: antiquewhite;
}

#centerInfo {
    display: flex;
    justify-content: center;
}

#flagImage {
    max-height: 50px;
    margin-right: 50px;
}

#countryHeader {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(0, 0, 0);
    font-size: xxx-large;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite;
}

p {
    font-family: 'Asap', sans-serif;
    color: antiquewhite;
}

#searchButton {
    color: antiquewhite;
    background-color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    border: 1px solid rgb(10,0,0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

#searchBar {
    color: antiquewhite;
    font-family: 'Asap', sans-serif;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid rgb(10,0,0);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-style: none;
}

#headerContainer {
    display: flex;
    justify-content: center;
}

#errorContainer {
    display: flex;
    justify-content: center;
}